<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://localimagefunctionapp20210218134614.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7035f472-dc24-4f3e-9ea4-87ee84b02bcc/resourcegroups/gbfldatastorage/providers/Microsoft.Web/sites/LocalImageFunctionApp20210218134614</ResourceId>
    <UserName>$LocalImageFunctionApp20210218134614</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://localimagefunctionapp20210218134614.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>